
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
sysinfo.txt
.hg
.git
.vs
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.DS_store

# Directories
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Ll]ibrary
[Tt]emp
[Bb]uild
[Bb]uilds